<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta charset="utf-8" />
   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script type="text/javascript" src="project2.js"></script>
   <link type="text/css" href="/stylesheets/questcss.css" rel="stylesheet">
   <title>Jeopardy Trivia</title>
</head>
<body  >
   <div class="container">
      <div class="item1">
         <H1 id="header">Jeopardy Trivia</H1>
      </div>
      <div class="item2" id="theader">
         <p id="title">Catetory: <%=category%></br>Point Value: <%=difficulty%></p></br>
         <input id="diffvalue" type="hidden" value="<%=difficulty%>"/>
         <label id="anstext"></label></br>
         <label id="score"></label>
      </div>
      <div class="item3" id="text">
         <label for="quest">Answer</label>
         <textarea rows="3" cols="30" id="quest" name="quest" type="text" ><%=question%></textarea>
         <input id="hanswer" name="textans" type="hidden" value="<%=answer%>"/>
         <label id="texans">Question</label>
         <textarea rows="3" cols="30" id="textans" name="textans" type="text" value=""></textarea>
         <input id="all" type="hidden" value="<%=all%>">
      </div>
      <div class="item4" id="anstext">
      </div>
      <div class="item5" id="form2">
         <input id="jeopardy" name="answer" type="button" value="Submit Answer" onclick="getJAnswer()"/>
         <input id="new" name="new" type="button" value="Get Another Question" onclick="getJQuestion"/>
         <input id="back" name="answer" type="button" onclick="goBack()" value="Back"/>
      </div>
   </div>
   <div id="scorediv">
      <label id="score"></label>
   </div>
</body>
</html>